<nav class="navbar navbar-expand-lg navbar-dark bg-black">   <!-- define la barra de navegación -->
  <div class="container">   <!-- define el contenedor de la barra de navegación -->
    <a class="navbar-brand" href="/">Flask SQLAlchemy CRUD</a>   <!-- define el título y el enlace del sitio web -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"   <!-- define la clase CSS para ocultar y mostrar el menú en dispositivos móviles -->
      data-bs-target="#navbarNav"   <!-- define el identificador del menú de navegación -->
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>   <!-- define el icono del botón de menú -->
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">   <!-- define el elemento contenedor del menú -->
      <ul class="navbar-nav ms-auto">   <!-- define la lista desordenada que contiene los elementos de menú -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">About</a>   <!-- define un elemento de menú con su enlace y texto -->
        </li>
      </ul>
    </div>
  </div>
</nav>